<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id=my-ijavier-micomponente>
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
  <div>
    <h2>Por favor pulse el boton para recuperar la lista de posts</h2>
   <button id="postlist" type="button" name="button" on-tap="RecuperaPost">Recuperar Posts</button>
 </div>
 <tbody id="tablePost">
              <template is="dom-repeat" items="{{posts}}">
                <tr>
                  <th>[[item._id.$oid]]</th>
                  <th>[[item.titulo]]</th>
                  <th>[[item.texto]]</th>
                </tr>
              </template>
</tbody>

  </template>
    <script>
        Polymer ({
          is: 'my-ijavier-micomponente',
          properties: {
            posts: {
               type: Array,
               notify: true
            }
          },
          listeners: {
             },
        RecuperaPost: function (e) {
          var xhttp = new XMLHttpRequest();
          xhttp.open("GET", "https://api.mlab.com/api/1/databases/bootcampijavier/collections/posts?apiKey=9WUP-KKUOcoAsrAa_2eufBQItHAYyJdk", false);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send();
          this.posts = JSON.parse(xhttp.responseText);
           },
         });

    </script>
</dom-module>
